<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Weather App</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        /* background-color: #a9c6fb; */
        background-image: url("https://source.unsplash.com/1600x900/?<%=city %>");
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        letter-spacing: 4px;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }
    .container {
         display: flex;
         justify-content: center;
    }
    .main-part { 
        margin: 1rem;
        margin-top: 5rem;
        height: 400px;
        width: 100%;
        padding: 2rem;
        max-width: 500px;
        border-radius: 30px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:flex-start;
       
        color: white;
        background: #000000d0;
        
    }
    .icon{
        width: 25%;
    }

    .flex {
        display: flex;
        align-items: center;
     }
    
    .description{
      text-transform: capitalize;
      margin-left: 8px;
    }
     .footer {
         color: #fff;
     }
</style>

<body >

    <div class="container">

        <div class="main-part">
            
            <h2>Weather in <%=city%></h2>
            <h1><%=temperature%>°C</h1>
            <div class="flex">
                <img src="<%=image%>" alt="" class="icon" />
                <div class="description"><%=explain%></div>
            </div>
            <h4>Humidity: <%=humidity%></h4>
            <h4>Wind: <%=wind%></h4>
        </div>
    </div>
    <div class="footer">
        <h5>Made by Aditya Gupta</h5>
    </div>
</body>

</html>